<p>
  <b>Name:</b>
  <%=h @risk_class.name %>
</p>

<p>
  <b>Color:</b>
  <%=h @risk_class.color %>
</p>


<%= link_to 'Edit', edit_risk_class_path(@risk_class) %> |
<%= link_to 'Back', risk_classes_path %>
